<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Create a New Reservation :: Employee</title>
</head>
<body>

<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<!--    Navbar - fragment replacement for consistent navbars -->
<div th:replace="fragments/navbar.html :: navigation"></div>
<!-- Main container-->
<div class="body container95">
    <h1 id="headline"> Reservation :: Create or Find</h1>
    <div class="container">
        <h3 class="hl">Customer ID and Vehicle ID</h3>
        <div class="container95 content-auto-margins">
            <form class="padded-blue-area " action="/lookup" method="post">
                <table>
                    <tr>
                        <td><p>
                            <img src="/img/transparent-200-10.png"/><img src="/img/transparent-200-10.png"/>
                        </p></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/img/man-the-product-white-200x220.png"
                                 height="50"/><span>Customer ID:</span>
                        </td>
                        <td>
                            <input type="text" name="customerID">
                        </td>
                    <tr>
                        <td>
                            <img src="/img/mobilehome_transparent_icon.png" height="50"/><span>Motorhome ID:</span>
                        </td>
                        <td>
                            <input type="number" name="motorhomeID">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p></p>
                            <h3>Desired Period:</h3>
                        </td>
                    </tr>
                    <tr>
                        <td align="center">
                            <input type="date" name="dateA">
                        </td>
                        <td align="center">
                            <input type="date" name="dateB">
                        </td>
                    </tr>
                </table>
                <p></p>
                <span><img src="../img/transparent-200-10.png"/><input class="button" type="submit"
                                                                       value="Check availability!"
                                                                       name="newReservation"></span>
            </form>
            <p></p>
        </div>

        <!--            Segment for option to enter reservation number directly -->
        <h3 class="hl">Reservation ID:</h3>
        <div class="container95 content-auto-margins">
            <form class="padded-blue-area" action="/show" method="post">
                <table>
                    <tr>
                        <td><p><img src="/img/transparent-200-10.png"/><img src="/img/transparent-200-10.png"/></p></td>
                    </tr>
                    <tr>
                        <td>
                            <img src="/img/man-the-product-white-200x220.png" height="50"/>
                            <img src="/img/mobilehome_transparent_icon.png" height="50"/>
                            <span>Reservation ID:</span>
                        </td>
                        <td>
                            <input type="number" name="reservationID">
                        </td>
                    </tr>
                </table>
                <p></p>
                <span><img src="../img/transparent-200-10.png"/>    <input class="button" type="submit"
                                                                           value="Look it up!"
                                                                           name="reservationID"></span>
            </form>
        </div>
    </div>
</div>
<p></p>
<p></p>
<p></p>
<h1 class="hl " style="text-align: center">
    home ahead
    <img class="mobilehome-icon" src="/img/mobilehome_transparent_icon.png">
    get rolling
</h1>

</body>
</html>