<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- styling fragment -->
    <div th:replace="fragments/styling.html :: styling"></div>

    <meta charset="UTF-8">
    <title>Reservations :: Lists</title>
</head>
<body>

<!-- navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>


<h1 class="hl">Reservation :: Search </h1>

<!--    search options -->
<!-- <div class="wrapper350"> -->
<!--    search by employee id or customer ID-->
    <!--
<div class="box350 content-auto-margins">
<table class="container95">
    <tr><td><form id="searchByEmployeeID" action="/reservation/searchByEmployeeID" method="post"><input type="number" name="employeeID" value="0"><button class="animate border-8px" form="searchByEmployeeID"><span>Employee ID</span></button></form></td></tr>
    <tr><td><form id="searchByCustomerID" action="/reservation/searchByCustomerID" method="post"><input type="text" name="driversLicence" value="Enter"><button class="animate border-8px" form="searchByCustomerID"><span>Driver's Licence</span></button></form></td></tr>
</table>
</div>

    <div class="box220">

    </div>
    <div class="box220">

    </div>
</div>
-->
<!-- List section -->
<div class="backgroundBox">
    <img id="backgroundImage" src="/img/Background_IMG.jpg" alt="">
<div class="formCenter">
    <br>
    <form id="searchByEmployeeID" onclick="pageScroll()" action="/reservation/searchByEmployeeID#scrollTo" method="post">
        <input type="number" name="employeeID" value="0">
        <button id="EmployeeID" class="animate border-8px" form="searchByEmployeeID">
            <span>Employee ID</span>
        </button>
    </form>
    <br>
    <form id="searchByCustomerID" action="/reservation/searchByCustomerID#scrollTo" method="post">
        <input type="text" name="driversLicence" value="Enter">
        <button id="CustomerID" class="animate border-8px" form="searchByCustomerID">
            <span>Driver's Licence</span>
        </button>
    </form>
</div>

<!---->
<div th:unless="${reservations.isEmpty()}">

    <div class="container95">
        <div th:each="reservation:${reservations}">

                <div class="container border-8px">
                    <table class="container95">
                        <tr>
                            <th class="box-margin">Reservation ID</th>
                            <td th:text="${reservation.getReservationID()}"></td>
                            <th class="box-margin">Customer Driver's Licence</th>
                            <td th:text="${reservation.getCustomer().getDriversLicence()}"></td>
                            <th class="box-margin">Employee ID</th>
                            <td th:text="${reservation.getEmployee().getEmployeeID()}"></td>
                        </tr>
                        <tr>
                            <th class="box-margin">Period Start</th>
                            <td class="" th:text="${reservation.getPeriod().getStart()}"></td>
                            <th class="box-margin">Period End</th>
                            <td class="" th:text="${reservation.getPeriod().getEnd()}"></td>
                            <th class="box-margin">Motorhome ID</th>
                            <td class="" th:text="${reservation.getMotorhome().getMotorhomeID()}"></td>
                        </tr>
                        <tr>
                            <th class="box-margin">Status:</th>
                            <td class="box-margin" th:text="${reservation.getStatus()}"></td>
                        </tr>
                    </table>
                </div>

        </div>
    </div>

</div>

<div th:if="${reservations.isEmpty()}">
    <div class="wrapper350">
        <div class="padded-blue-area "><h2>No reservations returned yet.</h2></div>
    </div>
</div>
</div>

<!-- footer -->
<div th:replace="fragments/footer.html :: footer"></div>
<div id="scrollTo"></div>
</body>
</html>