<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Customer and Motorhome - Lookup</title>
    <!--    Navbar -->
</head>
<body>

<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 class="hl">Customer and Mobilehome</h1>
<div class="container">




        <!-- Customer info segment -->
        <h3 class="hl" th:text="'Customer: ' + ${customer.getPerson().getFirstName() + ' '} + ${customer.getPerson().getLastName() ?: 'UNKNOWN'}"></h3>
        <div class="padded-blue-area">
            <div class="wrapper">



                <!--                    Setting customer image depending on customer approval status -->
                    <table>
                        <tr>
                            <td>
                    <div th:switch="${customer.isApproved()}">
                        <img th:case="true" class="customer-approval-img" src="/img/man-the-product-black-200x220.png"
                             alt="Customer Approved"/>
                        <img th:case="false" class="customer-approval-img" src="/img/man-unaproved-black-132x200.png"
                             alt="Customer Not Approved"/>
                    </div>
                    <div class="center" th:text="${customer.isApproved()? 'Approved': 'Not Approved' }"></div>
                            </td>
                    </tr>
                    </table>
               <table>
                   <tr>
                <td>
                    <span class="model-name">Address </span>
                    <div th:text="${'Road: '} + ${customer.getPerson().getAddress().getRoadName() + ' ' +customer.getPerson().getAddress().getHouseNumber() }"></div>
                    <div th:text="${'Area-code: '} + ${customer.getPerson().getAddress().getPostCode() }" }></div>
                    <div th:text="${'Country: '} + ${customer.getPerson().getAddress().getCountry() }"></div>
                </td>
                   </tr>
               </table>
                    <div> <span class="model-name">Driver's Licence Number: </span><span th:text="${'[ '+customer.getDriversLicence() +' ]'}"></span></div>
            </div>
        </div>
        <!--    Motorhome info segment -->
        <h3 class="hl">Motorhome: </h3>
        <div class="padded-blue-area">
        <div class="wrapper350">
            <div class="box350">
                <div class="fuel-type" th:text="${motorhome.getLicensePlate()}"></div>
                <img class="thumbnail" th:src="@{${motorhome.imageURL}}" alt="Image Coming Up!"/>

            </div>

            <!-- Reservation Period Segment-->
            <div class="box350">

                <div class="tableBoxes">
                    <table class="centerText">
                        <tr>
                            <td>Price of period:</td>
                            <td th:text="${priceCalculator.calculatePriceOfPeriod(motorhome, periodAB) + ' kr.'}"></td>
                        </tr>
                        <tr>
                            <td>
                                <div th:text="'Start: ' + ${dateA}"></div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div th:text="'End: ' + ${dateB}"></div>
                            </td>
                        </tr>
                    </table>

                <!--                        update period searched -->
                <div class="collapsible">Adjust period</div>
                <div class="collapsible-content content-auto-margins">
                    <form id="updatePeriod" action="/reservation/mockup" method="post">
                        <table>
                            <tr>
                                <td>
                                    Start:
                                </td>
                                <td>
                                    <input type="date" th:name="dateA" th:value="${dateA}">
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    End:
                                </td>
                                <td>
                                    <input type="date" th:name="dateB" th:value="${dateB}">
                                </td>
                            </tr>
                            <tr>
                                <td><input type="hidden" th:name="customerID" th:value="${customer.getDriversLicence()}"></td>
                                <td><input type="hidden" th:name="motorhomeID" th:value="${motorhome.getMotorhomeID()}">
                                    <button class="button animate border-8px" type="submit"><span>Update Period</span></button></td>
                            </tr>
                        </table>
                    </form>
                </div>
                </div>
            </div>
                <table>
                    <tr>
                        <td>
                <div th:text="${'Model name: ' + motorhome.getModel().getModelName()}"></div>
                <div th:text="${'Licence Plate: ' + motorhome.getModel().getModelName()}"></div>
                        </td>
                    </tr>
                </table>
                <table>
                    <tr>
                        <td>
                            <div class="" th:text="'Winter daily charge:'+${motorhome.getSeasonalDailyCharge()[0]}"></div>
                            <div class="" th:text="'Spring daily charge: '+${motorhome.getSeasonalDailyCharge()[1]}"></div>
                            <div class="" th:text="'Summer daily charge: '+${motorhome.getSeasonalDailyCharge()[2]}"></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--        Vehicle description-->

        <!--                Collapsible Model details-->
        <button class="collapsible"><span th:text="${'Details of ' + motorhome.getModel().getModelName()}"></span></button>
        <div class="collapsible-content">
            <div th:text="${motorhome.getDescription()}"></div>
            <table>
                <tr>
                    <td>
                        <div th:text="${'Model name: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getModelName()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Model number: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getModelnumber()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Model number of seats: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getNumberOfSeats()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Model number of beds: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getBeds()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Hot Water Capacity: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getHotWaterCapacity()}"></div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div th:text="${'Cold Water Capacity: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getColdWaterCapacity()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Has shower: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().isShower()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Model has Oven: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().isOven()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Engine Capacity: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getEngineCapacity()}"></div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div th:text="${'Horse Power: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getHorsePower()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Has Cruise Control: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().isCruiseControl()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Height: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getHeight()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Length: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getLength()}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${'Width: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getWidth()}"></div>
                    </td>

                </tr>
                <tr>
                    <td>
                        <div th:text="${'Weight: '}"></div>
                    </td>
                    <td>
                        <div th:text="${motorhome.getModel().getWeight()}"></div>
                    </td>
                </tr>
            </table>
            <table>
                <tr>
                    <td>
                        <div th:text="${'Notes:'}"></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div th:text="${motorhome.getNotes()}"></div>
                    </td>
                </tr>
            </table>
        </div>

        <div class="wrapper350">
            <!--        Buttons relative to whether user is approved -->
            <div th:switch="${customer.isApproved()}">

                <!--        Create new reservation button: if customer is approved -->
                <div th:case="true">
                    <form action="/reservation/new" method="post">
                        <input type="hidden" id="customerID" name="customerID" th:value="${customer.getDriversLicence()}">
                        <input type="hidden" id="motorhomeID" name="motorhomeID" th:value="${motorhome.getMotorhomeID()}">
                        <input type="hidden" id="dateA" name="dateA" th:value="${dateA}">
                        <input type="hidden" id="dateB" name="dateB" th:value="${dateB}">
                        <span class="center">
                           <button class="button animate border-8px" name="reservationID"><span>Create Reservation!</span></button>
                       </span>
                    </form>
                </div>

                <!--       Create 'back button' if customer is not approved -->
                <div th:case="false">
                    <a id="back-link" href="">
                        <button class="button animate border-8px"><span>Back</span></button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<p></p>
<!-- footer -->
<div th:replace="fragments/footer.html :: footer"></div>

<!-- javascript -->
<script>
    <!--    script adds an event listener to all elements with class name collapsible -->
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>

<script>
    var element = document.getElementById("back-link"); // var to grab right element
    element.setAttribute("href", document.referrer); // set's URL to previous/reffering page
    // next bit defines a small function to pull back() on browser history, which loads referring page
    element.onclick = function () {
        history.back();
        return false;
    }
    // (so the button does not actually follow the link, but the history back one step)
</script>

</body>
</html>

<!--Notes for sources during construction: -->
<!--https://www.baeldung.com/spring-thymeleaf-conditionals // using conditional with model attributes in thymeleaf-->
<!--https://stackoverflow.com/questions/8814472/how-to-make-an-html-back-link // back-link solution owed to this answ -->