<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Reservation</title>
</head>
<body>

<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 class="hl">Reservation :: New Reservation</h1>
<!-- Reservation(s) displayed -->
<div class="container content-auto-margins">
    <div class="container95 content-auto-margins">

        <div class="fuel-type" th:text="${'Reservation ID: '+ reservation.getReservationID()}"></div>
        <p></p>

        <!--            Motorhome overview, collapsible -->
        <button class="collapsible">
            <span>Motorhome details.</span>
            <img src="/img/transparent-100-10.png" style="display: inline-block">
            <span th:text="${'Licence plate: ['+reservation.getMotorhome().getLicensePlate()+ ']'}"></span>
            <img src="/img/transparent-100-10.png" style="display: inline-block">

            <span th:text="${'Model: '+reservation.getMotorhome().getModel().getModelName()}"></span>
        </button>
        <div class="collapsible-content">
            <img class="thumbnail" th:src="@{${reservation.getMotorhome().imageURL}}" alt="Image Coming Up!"/>
            <div th:text="${reservation.getMotorhome().getDescription()}"></div>
            <table>
                <tr>
                    <td><div th:text="${'Model name: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getModelName()}"></div></td>
                </tr>
                <tr>
                    <td> <div th:text="${'Model number: '}"></div></td>
                    <td> <div th:text="${reservation.getMotorhome().getModel().getModelnumber()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Model number of seats: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getNumberOfSeats()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Model number of beds: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getBeds()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Hot Water Capacity: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getHotWaterCapacity()}"></div></td>

                </tr>
                <tr>
                    <td><div th:text="${'Cold Water Capacity: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getColdWaterCapacity()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Has shower: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().isShower()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Model has Oven: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().isOven()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Engine Capacity: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getEngineCapacity()}"></div></td>

                </tr>
                <tr>
                    <td><div th:text="${'Horse Power: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getHorsePower()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Has Cruise Control: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().isCruiseControl()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Height: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getHeight()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Length: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getLength()}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${'Width: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getWidth()}"></div></td>

                </tr>
                <tr>
                    <td><div th:text="${'Weight: '}"></div></td>
                    <td><div th:text="${reservation.getMotorhome().getModel().getWeight()}"></div></td>
                </tr>
            </table>
            <table>
                <tr>
                    <td><div th:text="${'Notes:'}"></div></td>
                </tr>
                <tr>
                    <td><div th:text="${reservation.getMotorhome().getNotes()}"></div> </td>
                </tr>
            </table>
        </div>

        <!--            Period of reservation -->
        <div class="hl"><h3>Period</h3></div>
        <div class="wrapper350">
        <span class="fuel-type">Duration of reservation:
            <!--                    måned og år bliver kun vist hvis de er relevante -->
                <span th:text="${reservation.getPeriod().duration()[0] +' days ' +
                    (reservation.getPeriod().duration()[1]==0? '': reservation.getPeriod().duration()[1] +' months ')+
                    (reservation.getPeriod().duration()[2]==0? '': reservation.getPeriod().duration()[2] +' year')}">
                </span>

            </span>
            <div>
                <table class="container95 content-auto-margins">
                    <tr>
                        <td class="center-text">Start Date</td>
                        <td><img src="/img/transparent-100-10.png"/></td>
                        <td class="center-text">End Date</td>
                    </tr>
                    <tr>
                        <td class="center-text fuel-type" th:text="${reservation.getPeriod().getStartAsDate()}"></td>
                        <td><img src="/img/transparent-100-10.png"/></td>
                        <td class="center-text fuel-type" th:text="${reservation.getPeriod().getEndAsDate()}"></td>
                    </tr>
                    <tr>
                        <td class="center-text"
                            th:text="${priceCalculator.getDateUtil().determineSeasonOfDate(reservation.getPeriod().getStart())+' Season'}"></td>
                        <td><img src="/img/transparent-100-10.png"/></td>
                        <td class="center-text"
                            th:text="${priceCalculator.getDateUtil().determineSeasonOfDate(reservation.getPeriod().getEnd())+' Season'}"></td>
                    </tr>
                </table>
            </div>
        </div>


        <!-- Base price -->
        <div class="hl"><h3>Base price</h3></div>
        <div class="wrapper350">
            <table class="container95">
                <tr>
                    <td>Low Season Daily Price:</td>
                    <td>
                        <div th:text="'' + ${reservation.getMotorhome().getSeasonalDailyCharge()[0]}"></div>
                    </td>
                </tr>
                <tr>
                    <td>Medium Season Daily Price:</td>
                    <td>
                        <div th:text="'' + ${reservation.getMotorhome().getSeasonalDailyCharge()[1]}"></div>
                    </td>
                </tr>
                <tr>
                    <td>High Season Daily Price:</td>
                    <td>
                        <div th:text="'' + ${reservation.getMotorhome().getSeasonalDailyCharge()[2]}"></div>
                    </td>
                </tr>
            </table>
            <div>
                <div class="fuel-type">
                    <span> Base price for rental of vehicle in period: </span>
                    <span th:text="${priceCalculator.calculatePriceOfPeriod(reservation.getMotorhome(),reservation.getPeriod())}"></span>
                </div>
            </div>
        </div>

        <!--                Available services -->
        <div class="hl">Services Available</div>
        <div class="wrapper350" id="servicesavailable">

            <div th:each="service:${reservation.getMotorhome().getServicesAvailable()}">

                <div class="box">
                    <table>
                        <tr>
                            <td class="item-description">
                                <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                                <div th:text="${'Name: '+service.getName()}"></div>
                                <div th:text="${'Unit price: '+service.unitPrice}"></div>

                                <button class="collapsible">Description: ...</button>
                                <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                            </td>
                            <td>
                                <form action="/reservation/addservice#servicesavailable" method="post"
                                      th:id="${'availableS'+service.getServiceID()}">
                                    <input type="hidden" name="serviceID" th:value="${service.getServiceID()}">
                                    <input type="hidden" name="reservationID" th:value="${reservation.getReservationID()}">
                                    <input type="hidden" name="requestURL" value="new">
                                    <div>
                                        <button class="animate border-8px"
                                                th:form="${'availableS'+service.getServiceID()}">Add Service
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--                Services chosen for vehicle -->
        <div class="hl" id="serviceschosen">Services chosen for this Reservation</div>
        <div class="wrapper350">

            <div th:each="service:${reservation.getServices()}">
                <div class="box">
                    <table>
                        <tr>
                            <td class="item-description">
                                <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                                <div th:text="${'Name: '+service.getName()}"></div>
                                <div th:text="${'Unit price: '+service.unitPrice}"></div>
                                <button class="collapsible">Description: ...</button>
                                <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                            </td>
                            <td>
                                <form action="/reservation/removeservice#serviceschosen" method="post"
                                      th:id="${'chosenS'+service.getServiceID()}">
                                    <input type="hidden" name="serviceID" th:value="${service.getServiceID()}">
                                    <input type="hidden" name="reservationID" th:value="${reservation.getReservationID()}">
                                    <input type="hidden" name="requestURL" value="new">
                                    <div>
                                        <button class="animate border-8px"
                                                th:form="${'chosenS'+service.getServiceID()}">Remove Service
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!-- Area showing combined cost of services-->
        <h4 class="hl">Cost of Services</h4>
        <div class="wrapper350">
            <table class="container95">
                <tr>
                    <th>Service</th>
                    <th>Price</th>
                </tr>
                <tr th:each="service:${reservation.getServices()}">
                    <td th:text="${service.getName()}"></td>
                    <td th:text="${service.getUnitPrice()}"></td>
                </tr>
                <tr class="padded-blue-area">
                    <th>Services price:</th>
                    <td th:text="${priceCalculator.calculatePriceOfService(reservation.getServices())} + ' kr'"></td>
                </tr>
            </table>
        </div>

        <!--            Area showing combined price of period and services -->
        <h4 class="hl">Reservation Price Total </h4>
        <div class="wrapper350">
            <div class="container95">
                <table class="container95">
                    <tr>
                        <th>Services:</th>
                        <td th:text="${priceCalculator.calculatePriceOfService(reservation.getServices())} + ' kr'"></td>
                    </tr>
                    <tr>
                        <th>Period charge:</th>
                        <td th:text="${priceCalculator.calculatePriceOfPeriod(reservation.getMotorhome(), reservation.getPeriod())} + ' kr'"></td>
                    </tr>
                    <tr class="padded-blue-area">
                        <th>Reservation total:</th>
                        <td th:text="${priceCalculator.calculatePriceOfPeriod(reservation.getMotorhome(), reservation.getPeriod())
                    + priceCalculator.calculatePriceOfService(reservation.getServices())} + ' kr'"></td>
                    </tr>
                </table>
            </div>
        </div>


        <!-- Notes and Employee Segment -->
        <h4 class="hl">Notes for reservation</h4>
        <div class="wrapper350">
            <div class="container95">

                    <textarea class="container" name="notes" form="confirm" > Room for comments. </textarea>
                    <div class="hl">EmployeeID:</div>
                    <input type="number" name="employeeID" form="confirm" value="1"> Employee ID </input>

            </div>

            <!--    Accept Reservation Segment-->
            <div class="container95">
                <h1 class="hl">Accept Reservation</h1>
                <form class="content-auto-margins" action="/reservation/confirm" method="post" id="confirm">
                    <input type="hidden" name="reservationID" th:value="${reservation.getReservationID()}">
                    <h1 class="center">
                        <button class="button">Confirm Reservation</button>
                    </h1>
                </form>
            </div>

        </div>
        </div>
    </div>

    <!-- footer -->
    <div th:replace="fragments/footer.html :: footer"></div>
    <!-- javascript -->
    <script>
        <!--    script adds an event listener to all elements with class name collapsible -->
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
            coll[i].addEventListener("click", function () {
                this.classList.toggle("active"); // defaults to false
                var content = this.nextElementSibling;
                if (content.style.maxHeight) {
                    content.style.maxHeight = null;
                } else {
                    content.style.maxHeight = content.scrollHeight + "px";
                }
            });
        }
    </script>

</body>
</html>