<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Customers</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 class="hl">List of Customers</h1>
<!-- Main area of page -->
<div class="container">
    <!--   Car Fleet grid layout -->
    <div><a href="/customers/new"><button id="create">Create New Customer</button></a> </div>
    <div class="wrapper">
        <div th:each="customer:${customers}">
            <div class="box">
                <table>
                    <tr>
                        <td class="item-description">
                            <div th:text="${'First Name: ' + customer.getPerson().getFirstName()}"></div>
                            <div th:text="${'Last Name: '+customer.getPerson().getLastName()}"></div>
                            <div th:text="${'Drivers License No.: '+customer.getDriversLicence()}"></div>
                            <div th:switch="${customer.isApproved()}">
                                <div th:case="true">Drivers License Status: Approved</div>
                                <div th:case="false">Drivers License Status: Not Approved</div>
                            </div>
                        </td>
                        <td>
                            <div>
                                <a th:href="@{/customers/details(id=${customer.getDriversLicence()})}"><button class="button animate border-8px"><span>Details</span></button></a>
                            </div>
                            <div>
                                <a th:href="@{/customers/edit(id=${customer.getDriversLicence()})}"><button class="button animate border-8px"><span>Update</span></button></a>
                            </div>
                            <div>
                                <a th:href="@{/customers/delete(id=${customer.getDriversLicence()})}"><button class="button animate border-8px"><span>Delete</span></button></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>