<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Customer Details</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<br/><br/><br/><br/>

<h1>Customer Details</h1>

<table>
    <tr>
        <td>Person ID</td>
        <td th:text="${customer.getPerson().getPersonID()}"></td>
    </tr>
    <tr>
        <td>First Name</td>
        <td th:text="${customer.getPerson().getFirstName()}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td th:text="${customer.getPerson().getLastName()}"></td>
    </tr>
    <tr>
        <td>Address ID</td>
        <td th:text="${customer.getPerson().getAddress().getAddressID()}"></td>
    </tr>
    <tr>
        <td>Road Name</td>
        <td th:text="${customer.getPerson().getAddress().getRoadName()}"></td>
    </tr>
    <tr>
        <td>House Number</td>
        <td th:text="${customer.getPerson().getAddress().getHouseNumber()}"></td>
    </tr>
    <tr>
        <td>Post Code</td>
        <td th:text="${customer.getPerson().getAddress().getPostCode()}"></td>
    </tr>
    <tr>
        <td>Country</td>
        <td th:text="${customer.getPerson().getAddress().getCountry()}"></td>
    </tr>
        <td>Birth Date</td>
        <td th:text="${customer.getPerson().getBirthDate()}"></td>
    </tr>
    <tr>
        <td>Join Date</td>
        <td th:text="${customer.getPerson().getBirthDate()}"></td>
    </tr>
    <tr>
        <td>Driver's License No.</td>
        <td th:text="${customer.getDriversLicence()}"></td>
    </tr>
    <tr th:switch="${customer.isApproved()}">
        <td>Driver's License Status</td>
        <td th:case="true">Approved</td>
        <td th:case="false">Approved</td>
    </tr>
    <tr>
        <td>Credit Card ID</td>
        <td th:text="${customer.getPayCard().getCardID()}"></td>
    </tr>
    <tr>
        <td>Credit Card Type</td>
        <td th:text="${customer.getPayCard().getCardType()}"></td>
    </tr>
    <tr>
        <td>Credit Card No.</td>
        <td th:text="${customer.getPayCard().getCardNumber()}"></td>
    </tr>
    <tr>
        <td>Credit Card Expiration Date</td>
        <td th:text="${customer.getPayCard().getExpirationDate()}"></td>
    </tr>
    <tr>
        <td>Credit Card Security Digits</td>
        <td th:text="${customer.getPayCard().getSecurityDigits()}"></td>
    </tr>
</table>
<div>
    <a th:href="@{/customers/edit(id=${customer.getDriversLicence()})}"><button class="button animate border-8px"><span>Update</span></button></a>
</div>
<div>
    <a href="/customers/customers"><button class="button animate border-8px"><span>Back</span></button></a>
</div>
</body>
</html>