<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Customer Details</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<br/><br/><br/><br/>

<h1>Customer Details</h1>

<table>
    <tr>
        <td>First Name</td>
        <td th:text="${customer.getPerson().getFirstName()}"></td>
    </tr>
    <tr>
        <td>Last Name</td>
        <td th:text="${customer.getPerson().getLastName()}"></td>
    </tr>
    <td>Address</td>
    <td th:text="${customer.getPerson().getAddress().getRoadName() + ' ' + customer.getPerson().getAddress().getHouseNumber() + ', ' +
        customer.getPerson().getAddress().getPostCode() + ' ' + customer.getPerson().getAddress().getCountry()}"></td>
    <tr>
        <td>Birth Date</td>
        <td th:text="${customer.getPerson().getBirthDate()}"></td>
    </tr>
    <tr>
        <td>Driver's License No.</td>
        <td th:text="${customer.getDriversLicence()}"></td>
    </tr>
    <tr>
        <td>Driver's License Status</td>
        <td th:text="${customer.isApproved()}"></td>
    </tr>
    <tr>
        <td>Credit Card No.</td>
        <td th:text="${customer.getCardID()}"></td>
    </tr>
</table>
<div>
    <a th:href="@{/customers/edit(id=${customer.getDriversLicence()})}"><button class="button animate border-8px"><span>Update</span></button></a>
</div>
<div>
    <a href="/customers/customers"><button class="button animate border-8px"><span>Back</span></button></a>
</div>
</body>
</html>