<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Update Invoice</title>
</head>

<body>
    <!--    styling fragment -->
    <div th:replace="fragments/styling.html :: styling"></div>

    <!--    Navbar -->
    <div th:replace="fragments/navbar.html :: navigation"></div>

    <h1 id="headline">Invoices :: Update Invoice</h1>

    <div class="container">
        <h3 class="hl">Invoice Information</h3>
        <div class="padded-blue-area">
        <form id="mainForm" th:action="@{/invoices/perfomupdate}" method="post">
            <table class="createTables">
                <tr>
                    <td>Id</td>
                    <td><input id="invoiceID" name="invoiceID" type="number" th:value="${invoice.getInvoiceID()}" readonly></td>
                </tr>
                <tr>
                    <td>Customer</td>
                    <td>
                        <select id="customer" name="customer">
                            <option th:each="customer:${customers}" th:value="${customer.getDriversLicence()}" th:attr="selected=${invoice.getCustomerID()==customer.getDriversLicence() ? true : false}" th:text="${customer.getPerson().getFirstName()+ ' '+ customer.getPerson().getLastName() + ' - Drivers license: ' + customer.getDriversLicence()}"></option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>Bill period start date</td>
                    <td><input id="billPeriodStartDate" name="billPeriodStartDate" type="date" th:value="${invoice.getBillPeriod().getStartAsDate()}"></td>
                </tr>
                <tr>
                    <td>Bill period end date</td>
                    <td><input id="billPeriodEndDate" name="billPeriodEndDate" type="date" th:value="${invoice.getBillPeriod().getEndAsDate()}"></td>
                </tr>
                <tr>
                    <td>Reservation period start date</td>
                    <td><input id="reservationPeriodStartDate" name="reservationPeriodStartDate" type="date" th:value="${invoice.getReservationPeriod().getStartAsDate()}"></td>
                </tr>
                <tr>
                    <td>Reservation period start date</td>
                    <td><input id="reservationPeriodEndDate" name="reservationPeriodEndDate" type="date" th:value="${invoice.getReservationPeriod().getEndAsDate()}"></td>
                <tr>
                    <td>Motorhome</td>
                    <td>
                        <select id="motorhome" name="motorhome">
                            <option th:each="motorhome:${motorhomes}" th:value="${motorhome.getMotorhomeID()}" th:attr="selected=${invoice.getMotorhome().getMotorhomeID()==motorhome.getMotorhomeID() ? true : false}" th:text="${motorhome.getModel().getModelName()}"></option>
                        </select>
                    </td>
                </tr>
            </table>
        </form>
    </div>
        <h3 class="hl">Available Services</h3>
        <div class="padded-blue-area">
        <div class="wrapper" id="servicesavailable">
            <div th:each="service:${services}">
                    <table class="tableBoxes">
                        <tr>
                            <td class="item-description">
                                <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                                <div th:text="${'Name: '+service.getName()}"></div>
                                <div th:text="${'Unit price: '+service.unitPrice}"></div>

                                <button class="collapsible" type="button">Description: ...</button>
                                <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                            </td>
                            <td>
                                <form action="/invoices/update/addservice#servicesavailable" method="post" th:id="${'availableS'+service.getServiceID()}">
                                    <input type="hidden" class="billPeriodStartDate-service" name="billPeriodStartDate-service">
                                    <input type="hidden" class="billPeriodEndDate-service" name="billPeriodEndDate-service">
                                    <input type="hidden" class="reservationPeriodStartDate-service" name="reservationPeriodStartDate-service">
                                    <input type="hidden" class="reservationPeriodEndDate-service" name="reservationPeriodEndDate-service">
                                    <input type="hidden" class="customerID-service" name="customerID-service">
                                    <input type="hidden" class="motorhomeID-service" name="motorhomeID-service">
                                    <input type="hidden" name="serviceID" th:value="${service.getServiceID()}">
                                    <input type="hidden" name="invoiceID" th:value="${invoice.getInvoiceID()}">
                                    <div>
                                        <button class="button animate border-8px" type="submit" onclick="setServiceParameters()" th:form="${'availableS'+service.getServiceID()}"><span>Add Service</span></button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>

        <!--                Services offered for vehicle -->
        <h3 class="hl" id="serviceschosen">Services Chosen</h3>
        <div class="padded-blue-area">
        <div class="wrapper">
            <div th:each="service:${invoice.getServices()}">
                    <table class="tableBoxes">
                        <tr>
                            <td class="item-description">
                                <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                                <div th:text="${'Name: '+service.getName()}"></div>
                                <div th:text="${'Unit price: '+service.unitPrice}"></div>
                                <button class="collapsible" type="button">Description: ...</button>
                                <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                            </td>
                            <td>
                                <form action="/invoices/update/removeservice#serviceschosen" method="post" th:id="${'chosenS'+service.getServiceID()}">
                                    <input type="hidden" class="billPeriodStartDate-service" name="billPeriodStartDate-service">
                                    <input type="hidden" class="billPeriodEndDate-service" name="billPeriodEndDate-service">
                                    <input type="hidden" class="reservationPeriodStartDate-service" name="reservationPeriodStartDate-service">
                                    <input type="hidden" class="reservationPeriodEndDate-service" name="reservationPeriodEndDate-service">
                                    <input type="hidden" class="customerID-service" name="customerID-service">
                                    <input type="hidden" class="motorhomeID-service" name="motorhomeID-service">
                                    <input type="hidden" name="serviceID" th:value="${service.getServiceID()}">
                                    <input type="hidden" name="invoiceID" th:value="${invoice.getInvoiceID()}">
                                    <div>
                                        <button class="button animate border-8px" onclick="setServiceParameters()" th:form="${'chosenS'+service.getServiceID()}"><span>Remove Service</span></button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <button class="button animate border-8px" form="mainForm" type="submit"><span>Submit</span></button>
            <form id="emailInvoiceToCustomer" th:action="@{/invoices/sendinvoice}" method="post">
                <input type="hidden" th:name="invoiceID" th:value="${invoice.getInvoiceID()}">
                <button class="button animate border-8px" form="emailInvoiceToCustomer" type="submit"><span>Email Invoice To Customer</span></button>
            </form>
        </div>
        <div class="backLine"><a href="javascript:history.back()"><button class="back button animate border-8px"><span>Back</span></button></a></div>
    </div>

    <!-- footer-->
    <div th:replace="fragments/footer.html :: footer"></div>

</body>

<script>
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
<script>
    function setServiceParameters() {
        var billStarts = document.getElementsByClassName("billPeriodStartDate-service");
        var billEnds = document.getElementsByClassName("billPeriodEndDate-service");
        var reservationStarts = document.getElementsByClassName("reservationPeriodStartDate-service");
        var reservationEnds = document.getElementsByClassName("reservationPeriodEndDate-service");
        var motorHomeIDs = document.getElementsByClassName("motorhomeID-service");
        var customerIDs = document.getElementsByClassName("customerID-service");

        for (var i = 0; i < billStarts.length; i=i+1)
        {
            billStarts[i].value = document.getElementById("billPeriodStartDate").value;
        }
        for (var i = 0; i < billStarts.length; i=i+1)
        {
            billEnds[i].value = document.getElementById("billPeriodEndDate").value;
        }
        for (var i = 0; i < billStarts.length; i=i+1)
        {
            reservationStarts[i].value = document.getElementById("reservationPeriodStartDate").value;
        }
        for (var i = 0; i < billStarts.length; i=i+1)
        {
            reservationEnds[i].value = document.getElementById("reservationPeriodEndDate").value;
        }
        for (var i = 0; i < billStarts.length; i=i+1)
        {
            motorHomeIDs[i].value = document.getElementById("motorhome").value;
        }
        for (var i = 0; i < billStarts.length; i=i+1)
        {
            customerIDs[i].value = document.getElementById("customer").value;
        }
    }
</script>
</html>