<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">

        <title>List of invoices</title>
    </head>

    <body>
    <!--    styling fragment -->
        <div th:replace="fragments/styling.html :: styling"></div>

        <!--    Navbar -->
        <div th:replace="fragments/navbar.html :: navigation"></div>


        <!-- Main area of page -->
        <div class="body container">
            <!--   Car Fleet grid layout -->
            <h1 id="headline">Availible invoices</h1>
            <div><a href="/invoices/create"><button id="create"> Create</button></a> </div>
            <div class="wrapper">
                <div th:each="invoice:${invoices}">
                    <div class="box">

                        <button class="collapsible">
                            <span th:text="${'Invoice ID: '+invoice.getInvoiceID()}"></span>
                        </button>
                        <div class="collapsible-content">
                            <table>
                                <tr>
                                    <td class="invoice-information">
                                        <div class="period-item">
                                            <br />
                                            <div th:text="${'Customer: '+invoice.getCustomerID()}"></div>
                                            <div th:text="${'Start date: '+invoice.getBillPeriod().getStartAsDate()}"></div>
                                            <div th:text="${'End date: '+invoice.getBillPeriod().getEndAsDate()}"></div>
                                            <div th:text="${'Motorhome: '+invoice.getMotorhome().getModel().getModelName()}"></div>
                                            <div th:text="${'Price for period: '+calculator.calculatePriceOfPeriod(invoice.getMotorhome(), invoice.getBillPeriod())}"></div>

                                        </div>
                                        <br />
                                        <p>Services</p>
                                        <div class="service-item" th:each="service:${invoice.getServices()}">
                                            <table>
                                                <tr>
                                                    <td>
                                                        <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                                                        <div th:text="${'Name: '+service.getName()}"></div>
                                                        <div th:text="${'Unit price: '+service.unitPrice}"></div>
                                                    </td>
                                                </tr>
                                            </table>
                                            <br />
                                        </div>
                                        <div class="total-price" th:text="${'Total price: ' + calculator.calculateTotalPriceOfInvoice(invoice)}"></div>

                                    </td>
                                    <td>
                                        <div>
                                            <a th:href="@{/invoices/update(id=${invoice.getInvoiceID()})}"> <button class="button animate border-8px"><span>Update </span></button></a>
                                        </div>
                                        <div>
                                            <a th:href="@{/invoices/delete(id=${invoice.getInvoiceID()})}"> <button class="button animate border-8px"><span>Delete </span></button></a>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer-->
        <div th:replace="fragments/footer.html :: footer"></div>

    <!-- javascript -->
        <script>
            <!--    script adds an event listener to all elements with class name collapsible -->
            var coll = document.getElementsByClassName("collapsible");
            var i;

            for (i = 0; i < coll.length; i++) {
                coll[i].addEventListener("click", function () {
                    this.classList.toggle("active"); // defaults to false
                    var content = this.nextElementSibling;
                    if (content.style.maxHeight) {
                        content.style.maxHeight = null;
                    } else {
                        content.style.maxHeight = content.scrollHeight + "px";
                    }
                });
            }
        </script>
    </body>
</html>
<!-- Sources of knowledge and template code: -->
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->