<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Update Service</title>
</head>

<body>
<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!--    Navbar -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 id="headline">Services :: Update Service</h1>
<div class="container">
    <h3 class="hl">Update Service</h3>
    <div class="padded-blue-area">
    <form th:action="@{/performUpdate}" method="post">
        <table>
            <tr>
                <td>Id</td>
                <td><input id="serviceID" name="serviceID" type="number" th:value="${service.getServiceID()}" readonly></td>
            </tr>
            <tr>
                <td>Name</td>
                <td><input id="name" name="name" type="text" th:value="${service.getName()}"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input id="description" name="description" type="text" th:value="${service.getDescription()}"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input id="unitPrice" name="unitPrice" type="number" th:value="${service.getUnitPrice()}"></td>
            </tr>
            <tr>
                <td><button class="button animate border-8px" type="submit"><span>Submit</span></button></td>
            </tr>
        </table>
    </form>

    </div>
    <div class="backLine">
        <a href="javascript:history.back()"><button class="back button animate border-8px"><span>Back</span></button></a>
    </div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>