<!-- by TV, AL -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Create service</title>
</head>

<body>
<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!--    Navbar -->
<div th:replace="fragments/navbar.html :: navigation"></div>
<h1 id="headline">Services :: Create New Service</h1>
<div class="container">
    <h3 class="hl">Create New Service</h3>
    <div class="padded-blue-area">
    <form th:action="@{/services/getdata}" method="post">
        <table class="createTables">
            <tr>
                <td>Name</td>
                <td><input id="name" name="name" type="text"></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input id="description" name="description" type="text"></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input id="unitPrice" name="unitPrice" type="number"></td>
            </tr>
            <tr>
                <td><input class="button animate border-8px" type="submit"></td>
            </tr>
        </table>
    </form>
    </div>
    <div class="backLine">
        <a href="javascript:history.back()"><button class="back button animate border-8px"><span>Back</span></button></a>
    </div>
</div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>