<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Mobile Home Gallery</title>
</head>
<body>
<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!--    Navbar -->
<div th:replace="fragments/navbar.html :: navigation"></div>


<!-- Main area of page -->
<div class="body container">
    <!--   Car Fleet grid layout -->
    <h1 id="headline">Availible services</h1>
    <div><a href="/createservice"><button id="create"> Create</button></a> </div>
    <div class="wrapper">
        <div th:each="service:${services}">
            <div class="box">
                <!-- <div class="fuel-type" th:text="${mobileHome.getFuelType()}"></div>
                <img class="thumbnail" th:src="@{${mobileHome.imageURL}}" alt="Image Coming Up!"/> -->
                <table>
                    <tr>
                        <td class="item-description">
                            <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                            <div th:text="${'Name: '+service.getName()}"></div>
                            <div th:text="${'Unit price: '+service.unitPrice}"></div>
                            <button class="collapsible">Description: ...
                            </button>
                            <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                        </td>
                        <td>
                            <div>
                                <a th:href="@{/updateservice(id=${service.serviceID})}"> <button class="button animate border-8px"><span>Update </span></button></a>
                            </div>
                            <div>
                                <a th:href="@{/deleteservice(id=${service.serviceID})}"> <button class="button animate border-8px"><span>Delete </span></button></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script>
    <!--    script adds an event listener to all elements with class name collapsible -->
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>
<!-- Sources of knowledge and template code: -->
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->