<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Edit Motorhome</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<br/><br/><br/><br/>

<h1>Edit Motorhome</h1>
<div class="box">
    <form action="#" th:action="@{/updatemotorhome}" th:object="${motorhome}" method="post">
        <table>
            <tr>
                <td>Motorhome ID</td>
                <td><input type="text" th:field="*{motorhomeID}" name="motorhomeID" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>License Plate</td>
                <td><input type="text" th:field="*{licensePlate}" name="licensePlate"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: LOW Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[0]}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: MEDIUM Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[1]}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: HIGH Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[2]}"/></td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><input type="text" th:field="*{notes}" name="notes"/></td>
            </tr>
            <!-- TODO: services -->
            <tr th:each="service:${services}">
                <td th:text="${'Service ID: '+service.getServiceID() + ', Service Name: ' + service.getName() + ', ' + 'Unit Price: ' + service.getUnitPrice()}"></td>
            <tr>
            <tr>
                <td>Production Year</td>
                <td><input type="number" th:field="*{productionYear}" name="productionYear"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" minlength="15" th:field="*{description}" name="description"/></td>
            </tr>
            <tr>
                <td>Minimum Days of Rental</td>
                <td><input type="number" th:field="*{minimumDaysOfRental}" name="minimumDaysOfRental"/></td>
            </tr>
            <tr>
                <td>Fuel Type</td>
                <td><input type="text" th:field="*{fuelType}" name="fuelType"/></td>
            </tr>
            <tr>
                <td>Image URL</td>
                <td><input type="text" th:field="*{imageURL}" name="imageURL"/></td>
            </tr>
            <tr>
                <td>Car Model</td>
                <td>
                    <select name="carModelID">
                        <option th:each="carModel:${carModels}" th:value="${carModel.getCarModelID()}" th:attr="selected=${motorhome.getModel()==carModel ? true : false}" th:text="${carModel.getModelName()}"></option>
                    </select>
                </td>
            </tr>

            <!-- TODO: Add available services to motorhome from all existing services -->
            <!-- Available services -->
            <!--
            <div class="hl">Services Available to Add to Motorhome</div>
            <div class="wrapper350" id="servicesavailable">

                <div th:each="service:${services}">

                    <div class="box">
                        <table>
                            <tr>
                                <td class="item-description">
                                    <div th:text="${'Service ID: '+service.getServiceID()}"></div>
                                    <div th:text="${'Name: '+service.getName()}"></div>
                                    <div th:text="${'Unit price: '+service.unitPrice}"></div>

                                    <button class="collapsible">Description: ...</button>
                                    <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                                </td>
                                <td>
                                    <form action="/motorhomes/addservice#servicesavailable" method="post"
                                          th:id="${'availableS'+service.getServiceID()}">
                                        <input type="hidden" name="serviceID" th:value="${service.getServiceID()}">
                                        <input type="hidden" name="motorhomeID" th:value="${motorhome.getMotorhomeID()}">
                                        <input type="hidden" name="requestURL" value="new">
                                        <div>
                                            <button class="animate border-8px"
                                                    th:form="${'availableS'+service.getServiceID()}">Add Service
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            -->

            <!-- Services chosen for vehicle -->
            <!--
            <div class="hl" id="serviceschosen">Available Services for this Motorhome</div>
            <div class="wrapper350">

                <div th:each="service:${motorhome.getServicesAvailable()}">
                    <div class="box">
                        <table>
                            <tr>
                                <td class="item-description">
                                    <div th:text="${'Service ID: ' + service.getServiceID()}"></div>
                                    <div th:text="${'Name: ' + service.getName()}"></div>
                                    <div th:text="${'Unit price: ' + service.unitPrice}"></div>
                                    <button class="collapsible">Description: ...</button>
                                    <div class="collapsible-content" th:text="${service.getDescription()}"></div>
                                </td>
                                <td>
                                    <form action="/motorhomes/removeservice#serviceschosen" method="post"
                                          th:id="${'chosenS'+service.getServiceID()}">
                                        <input type="hidden" name="serviceID" th:value="${service.getServiceID()}">
                                        <input type="hidden" name="motorhomeID" th:value="${motorhome.getMotorhomeID()}">
                                        <input type="hidden" name="requestURL" value="new">
                                        <div>
                                            <button class="animate border-8px"
                                                    th:form="${'chosenS' + service.getServiceID()}">Remove Service
                                            </button>
                                        </div>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            -->

            <tr>
                <td colspan="2"><button class="button animate border-8px" type="submit">Save</button></td>
            </tr>
        </table>
    </form>





</div>
<div>
    <a href="javascript:history.back()"><button class="button animate border-8px"><span>Back</span></button></a>
</div>
<!-- Footer fragment -->
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>