<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Edit Motorhome</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<br/><br/><br/><br/>

<h1>Edit Motorhome</h1>
<div class="box">
    <form action="#" th:action="@{/updatemotorhome}" th:object="${motorhome}" method="post">
        <table>
            <tr>
                <td>Motorhome ID</td>
                <td><input type="text" th:field="*{motorhomeID}" name="motorhomeID" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>License Plate</td>
                <td><input type="text" th:field="*{licensePlate}" name="licensePlate"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: LOW Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[0]}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: MEDIUM Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[1]}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: HIGH Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[2]}"/></td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><input type="text" th:field="*{notes}" name="notes"/></td>
            </tr>

            <!-- TODO: services -->




            <!--
            <tr>
                <td>Services</td>
                    <tr th:each="service : ${services}">
                        <td th:text="${service.getName() + ', ' + service.getUnitPrice() + ' kr.'}"></td>
                        <input type="checkbox" name="serviceIDArray" th:value="${service.serviceID}"/>
                        <label th:text="${service.getName()}"></label>
                    </tr>
            </tr>
            -->

            <!--
            <tr th:each="service:${services}">
                <td th:text="${service.getName() + ', ' + service.getUnitPrice() + ' kr.'}"></td>
                <td><input type="checkbox" th:checked="${motorhome.getServicesAvailable().add(service)}"></td>
            </tr>
            -->

            <!--
            <tr th:each="service:${services}">
                <td th:text="${'Service ID: '+service.getServiceID() + ', Service Name: ' + service.getName() + ', ' + 'Unit Price: ' + service.getUnitPrice()}"></td>
            <tr>
            -->

            <tr>
                <td>Production Year</td>
                <td><input type="number" th:field="*{productionYear}" name="productionYear"/></td>
            </tr>
            <tr>
                <td>Description</td>
                <td><input type="text" minlength="15" th:field="*{description}" name="description"/></td>
            </tr>
            <tr>
                <td>Minimum Days of Rental</td>
                <td><input type="number" th:field="*{minimumDaysOfRental}" name="minimumDaysOfRental"/></td>
            </tr>
            <tr>
                <td>Fuel Type</td>
                <td><input type="text" th:field="*{fuelType}" name="fuelType"/></td>
            </tr>
            <tr>
                <td>Image URL</td>
                <td><input type="text" th:field="*{imageURL}" name="imageURL"/></td>
            </tr>
            <tr>
                <td>Car Model</td>
                <td>
                    <select name="carModelID">
                        <option th:each="carModel:${carModels}" th:value="${carModel.getCarModelID()}" th:attr="selected=${motorhome.getModel()==carModel ? true : false}" th:text="${carModel.getModelName()}"></option>
                    </select>
                </td>
            </tr>

            <!-- TODO: Add available services to motorhome from all existing services -->

            <tr>
                <td colspan="2"><button class="button animate border-8px" type="submit">Save</button></td>
            </tr>
        </table>
    </form>





</div>
<div>
    <a href="javascript:history.back()"><button class="button animate border-8px"><span>Back</span></button></a>
</div>
<!-- Footer fragment -->
<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>