<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New Motorhome</title>
</head>

<body>

<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 id="headline">Motorhomes :: New Motorhome</h1>
<div class="container">
    <h3 class="hl">Create New Motorhome</h3>
    <form class="padded-blue-area" action="#" th:action="@{/savemotorhome}" th:object="${motorhome}" method="post">
        <table class="createTables">
            <tr>
                <td>License Plate</td>
                <td><input type="text" th:field="*{licensePlate}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: LOW Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[0]}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: MEDIUM Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[1]}"/></td>
            </tr>
            <tr>
                <td>Seasonal Daily Charges: HIGH Price Per Day</td>
                <td><input type="number" th:field="*{seasonalDailyCharge[2]}"/></td>
            </tr>
            <tr>
                <td>Notes</td>
                <td><input type="text" th:field="*{notes}"/></td>
            </tr>

            <!-- TODO: Tilføje services -->

            <td>Production Year</td>
            <td><input type="number" th:field="*{productionYear}"/></td>
            </tr>
            <tr>
                <td>Description (min. 15 characters)</td>
                <td><input type="text" minlength="15" th:field="*{description}"/></td>
            </tr>
            <tr>
                <td>Minimum Days of Rental</td>
                <td><input type="number" th:field="*{minimumDaysOfRental}"/></td>
            </tr>
            <tr>
                <td>Fuel Type</td>
                <td><input type="text" th:field="*{fuelType}"/></td>
            </tr>
            <tr>
                <td>Image URL</td>
                <td><input type="text" th:field="*{imageURL}"/></td>
            </tr>
            <tr>
                <td>Motorhome ID</td>
                <td><input type="text" th:field="*{motorhomeID}" readonly="readonly"/></td>
            </tr>
            <tr>
                <td>Car Model</td>
                <td>
                    <select name="carModelID">
                        <option th:each="carModel:${carModels}" th:value="${carModel.getCarModelID()}" th:attr="selected=${motorhome.getModel()==carModel ? true : false}" th:text="${carModel.getModelName()}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <tr>
            <td><button class="button animate border-8px" type="submit"><span>Save</span></button></td>
        </tr>
    </form>
    <div class="backLine"><a href="javascript:history.back()"><button class="back button animate border-8px"><span>Back</span></button></a></div>
</div>
<!-- Footer fragment -->
<div th:replace="fragments/footer.html :: footer"></div>
<!-- javascript -->
<script>
    <!--    script adds an event listener to all elements with class name collapsible -->
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>