<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="navbar-top" th:fragment="navigation">
    <table width="100%">
        <tr>
            <td>
                <a href=""> Nordic Motorhome <img class="mobilehome-icon" src="/img/mobilehome_transparent_icon.png">
                </a>
            </td>
            <td>
                <a href="">Allergic Customer Service Center</a>
                <a href="">Webshop</a>
                <a href="">About</a>
            <td>
            <td style="text-align: right">
                <a href="" id="buttkick">
                    <img class="travel-icon" src="/img/travel_icon.png">
                    Login</a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>