<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Title</title>
</head>

<header class="group">
<div class="navbar-top" th:fragment="navigation">
    <nav>
        <ul>
            <li><a href="" id="logotext" style="font-size: 34px"><span> Nordic Motorhome <img class="mobilehome-icon" alt="Logo" src="/img/mobilehome_transparent_icon.png"></span></a></li>
            <li><a href="/reservation/" class=" navTrueCenter navLink"><span>Reservation</span></a></li>
            <li><a href="/gallery" class=" navTrueCenter navLink"><span>Gallery</span></a></li>
            <li><a href="/tasks" class=" navTrueCenter navLink"><span>Tasks</span></a></li>
            <li><a href="" class=" navTrueCenter navLink"><span>About</span></a></li>
            <li><a href="" class="navTrueCenter navLink"><span>Login</span></a></li>
        </ul>
    </nav>
</div>
</header>
</html>