<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

    <title>Customers</title>
</head>

<body>

<!-- Navbar -->
<div th:replace="fragments/navbar.html :: navigation"></div>

    <br/><br/><br/><br/>

    <a href="/customers/new"><button class="button"><span>Create New Customer</span></button></a>

    <table>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Driver's License No.</th>
            <th>Driver's License Status</th>
            <th>Actions</th>

        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.getPerson().getFirstName()}"></td>
            <td th:text="${customer.getPerson().getLastName()}"></td>
            <td th:text="${customer.getDriversLicence()}"></td>
            <td th:text="${customer.isApproved()}"></td>
            <td><a th:href="@{/customers/details(id=${customer.getDriversLicence()})}"><button class="button"><span>Details</span></button></a>
                <a th:href="@{/customers/edit(id=${customer.getDriversLicence()})}"><button class="button"><span>Edit</span></button></a>
                <a th:href="@{/customers/delete(id=${customer.getDriversLicence()})}"><button class="button"><span>Delete</span></button></a>
            </td>
        </tr>
        </tr>
    </table>
</body>
</html>