<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Mobile Home Gallery</title>
</head>
<body>
<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>
<!--    Navbar - fragment replacement for consistent navbars -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<!-- Main area of page -->
<h1 class="hl">Company Fleet Overview</h1>
<div class="body container">

    <!--   Car Fleet grid layout -->
    <div class="wrapper">
        <div th:each="mobileHome:${mobileHomes}">
            <div class="box">
                <div class="fuel-type" th:text="${mobileHome.getFuelType()}"></div>
                <img class="thumbnail" th:src="@{${mobileHome.imageURL}}" alt="Image Coming Up!"/>
                <table>
                    <tr>
                        <td class="item-description">
                            <div class="model-name" th:text="${mobileHome.getModel().getModelName()}"></div>
                            <div th:text="${'Production year: '+mobileHome.productionYear}"></div>
                            <div th:text="${'LOW Price per day: ' + mobileHome.getSeasonalDailyCharge()[0] + ' kroner'}"></div>
                            <div th:text="${'MEDIUM Price per day: ' + mobileHome.getSeasonalDailyCharge()[1] + ' kroner'}"></div>
                            <div th:text="${'HIGH per day: ' + mobileHome.getSeasonalDailyCharge()[2] + ' kroner'}"></div>
                            <div th:text="${'Minimum rental period: ' + mobileHome.getMinimumDaysOfRental() + ' days'}"></div>
                        </td>
                        <td>
                            <div>
                                <!--                                Disse links skal opdateres med Laurits motorhome-links-->
                                <button class="button animate border-8px"><span>Details </span></button>
                            </div>
                            <div>
                                <button class="button animate border-8px"><span>Status </span></button>
                            </div>
                            <div>
                                <button class="button animate border-8px"><span>Action</span></button>
                            </div>
                        </td>
                </table>

<!--                Collapsible Model details-->
                <button class="collapsible">Model details
<!--                    <span th:text="${mobileHome.getDescription().substring(0,15) + '...'}"></span>-->
                </button>
                <div class="collapsible-content">
                    <div th:text="${mobileHome.getDescription()}"></div>
                    <table>
                        <tr>
                            <td><div th:text="${'Model name: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getModelName()}"></div></td>
                        </tr>
                        <tr>
                            <td> <div th:text="${'Model number: '}"></div></td>
                            <td> <div th:text="${mobileHome.getModel().getModelnumber()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Model number of seats: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getNumberOfSeats()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Model number of beds: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getBeds()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Hot Water Capacity: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getHotWaterCapacity()}"></div></td>

                        </tr>
                        <tr>
                            <td><div th:text="${'Cold Water Capacity: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getColdWaterCapacity()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Has shower: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().isShower()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Model has Oven: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().isOven()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Engine Capacity: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getEngineCapacity()}"></div></td>

                        </tr>
                        <tr>
                            <td><div th:text="${'Horse Power: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getHorsePower()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Has Cruise Control: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().isCruiseControl()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Height: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getHeight()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Length: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getLength()}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${'Width: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getWidth()}"></div></td>

                        </tr>
                        <tr>
                            <td><div th:text="${'Weight: '}"></div></td>
                            <td><div th:text="${mobileHome.getModel().getWeight()}"></div></td>
                        </tr>
                    </table>
                    <table>
                        <tr>
                            <td><div th:text="${'Notes:'}"></div></td>
                        </tr>
                        <tr>
                            <td><div th:text="${mobileHome.getNotes()}"></div> </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
<!-- javascript -->
<script>
    <!--    script adds an event listener to all elements with class name collapsible -->
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>
<!-- Sources of knowledge and template code: -->
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->