<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Mobile Home Gallery</title>
</head>
<body>
<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>
<!--    Navbar - fragment replacement for consistent navbars -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<!-- Main area of page -->
<div class="body container">

    <!--   Car Fleet grid layout -->
    <h1 id="headline">Company Fleet Overview</h1>
    <div class="wrapper">
        <div th:each="mobileHome:${mobileHomes}">
            <div class="box">
                <div class="fuel-type" th:text="${mobileHome.getFuelType()}"></div>
                <img class="thumbnail" th:src="@{${mobileHome.imageURL}}" alt="Image Coming Up!"/>
                <table>
                       <tr>
                        <td class="item-description">
                            <div class="model-name" th:text="${mobileHome.getModel().getModelName()}"></div>
                            <div th:text="${'Production year: '+mobileHome.productionYear}"></div>
                            <div th:text="${'LOW Price per day: ' + mobileHome.getSeasonalDailyCharge()[0] + ' kroner'}"></div>
                            <div th:text="${'MEDIUM Price per day: ' + mobileHome.getSeasonalDailyCharge()[1] + ' kroner'}"></div>
                            <div th:text="${'HIGH per day: ' + mobileHome.getSeasonalDailyCharge()[2] + ' kroner'}"></div>
                            <div th:text="${'Minimum rental period: ' + mobileHome.getMinimumDaysOfRental() + ' days'}"></div>
                        </td>
                        <td>
                            <div>
                                <button class="button animate border-8px"><span>Details </span></button>
                            </div>
                            <div>
                                <button class="button animate border-8px"><span>Status </span></button>
                            </div>
                            <div>
                                <button class="button animate border-8px"><span>Action</span></button>
                            </div>
                        </td>
                    </tr>
                </table>
                <button class="collapsible">Description:
                    <span th:text="${mobileHome.getDescription().substring(0,15) + '...'}"></span>
                </button>
                <div class="collapsible-content" th:text="${mobileHome.getDescription()}"></div>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script>
    <!--    script adds an event listener to all elements with class name collapsible -->
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>
<!-- Sources of knowledge and template code: -->
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->