<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

<!--    Google fonts stylesheet -->
    <link href="https://fonts.googleapis.com/css2?family=Squada+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
          integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

    <title>Mobile Home Gallery</title>
</head>
<body>

<!--    Navbar - fragment replacement for consistent navbars -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<!-- Main area of page -->
<div class="body container">

    <!--   Car Fleet grid layout -->
    <h1 id="headline">Company Fleet Overview</h1>
    <div class="wrapper">
        <div th:each="mobileHome:${mobileHomes}">
            <div class="box">
                <div class="fuel-type" th:text="${mobileHome.getFuelType()}"></div>
                <img class="thumbnail" th:src="@{${mobileHome.imageURL}}" alt="Image Coming Up!"/>
                <table>
                    <tr>
                        <td class="item-description">
                            <div class="model-name" th:text="${mobileHome.modelName}"></div>
                            <div th:text="${'Production year: '+mobileHome.productionYear}"></div>
                            <div th:text="${'Price per day: ' + mobileHome.getPerDayPrice() + ' kroner'}"></div>
                            <div th:text="${'Minimum rental period: ' + mobileHome.getMinimumDaysOfRental() + ' days'}"></div>
                        </td>
                        <td>
                            <div>
                                <button class="button animate border-8px"><span>Details </span></button>
                            </div>
                            <div>
                                <button class="button animate border-8px"><span>Status </span></button>
                            </div>
                            <div>
                                <button class="button animate border-8px"><span>Action</span></button>
                            </div>
                        </td>
                    </tr>
                </table>
                <button class="collapsible">Description:
                    <span th:text="${mobileHome.getDescription().substring(0,15) + '...'}"></span>
                </button>
                <div class="collapsible-content" th:text="${mobileHome.getDescription()}"></div>
            </div>
        </div>
    </div>
</div>

<!-- javascript -->
<script>
    <!--    script adds an event listener to all elements with class name collapsible -->
    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
            this.classList.toggle("active"); // defaults to false
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
                content.style.maxHeight = null;
            } else {
                content.style.maxHeight = content.scrollHeight + "px";
            }
        });
    }
</script>
</body>
</html>
<!-- Sources of knowledge and template code: -->
<!-- https://www.w3schools.com/howto/howto_js_collapsible.asp -->