<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Mobile Home Gallery</title>
</head>
<body>
<!--    styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>
<!--    Navbar - fragment replacement for consistent navbars -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<!-- Main area of page -->
<div class="body container">
    <h1 class="hl">Tasks</h1>
    <div class="box-margin padded-blue-area">
        <h2>Reservations</h2>
        <a href="/reservation/"><button class="button animate border-8px"><span>Reserve Vehicle</span></button></a>
    </div>
    <div class="box-margin padded-blue-area">
        <h2>Motorhomes</h2>
        <a href="/gallery"><button class="button animate border-8px"><span>View Gallery</span></button></a>
    </div>
    <div class="box-margin padded-blue-area">
        <h2>Services</h2>
        <a href="#"><button class="button animate border-8px"><span>Create</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Read</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Update</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Delete</span></button></a>
    </div>
    <div class="box-margin padded-blue-area">
        <h2>Invoices</h2>
        <a href="#"><button class="button animate border-8px"><span>Create</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Read</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Update</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Delete</span></button></a>
    </div>
    <div class="box-margin padded-blue-area">
        <h2>Customers</h2>
        <a href="#"><button class="button animate border-8px"><span>Create</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Read</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Update</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Delete</span></button></a>
    </div>
    <div class="box-margin padded-blue-area">
        <h2>Employees</h2>
        <a href="#"><button class="button animate border-8px"><span>Create</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Read</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Update</span></button></a>
        <a href="#"><button class="button animate border-8px"><span>Delete</span></button></a>
    </div>
</div>
    <div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>