<!-- LNS -->
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>Employees</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 class="hl">Employees</h1>
<!-- Main area of page -->
<div class="container">
    <div class="padded-blue-area">
    <div class="wrapper">
        <a href="/employees/new"><button class="createbt button animate border-8px" id="create"><span>Create New Employee</span></button></a>
        <div th:each="employee:${employees}">
                <table class="tableBoxes">
                    <tr>
                        <td class="item-description">
                            <div th:text="${'First Name: ' + employee.getPerson().getFirstName()}"></div>
                            <div th:text="${'Last Name: '+ employee.getPerson().getLastName()}"></div>
                            <div th:text="${'Job: '+ employee.getPerson().getUserType()}"></div>
                        </td>
                        <td>
                            <div>
                                <a th:href="@{/employees/details(id=${employee.getEmployeeID()})}"><button class="button animate border-8px"><span>Details</span></button></a>
                            </div>
                            <div>
                                <a th:href="@{/employees/edit(id=${employee.getEmployeeID()})}"><button class="button animate border-8px"><span>Update</span></button></a>
                            </div>
                            <div>
                                <a th:href="@{/employees/delete(id=${employee.getEmployeeID()})}"><button class="button animate border-8px"><span>Delete</span></button></a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="backLine"><a href="/tasks"><button class="back button animate border-8px"><span>Back</span></button></a></div>
</div>

<div th:replace="fragments/footer.html :: footer"></div>
</body>
</html>