<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">


    <title>New Employee</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<br/><br/><br/><br/>

<h1>New Employee</h1>

<form action="#" th:action="@{/saveemployee}" th:object="${employee}" method="post">
    <table>
        <tr>
            <td>Person ID</td>
            <td><input type="text" th:field="*{person.personID}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>First Name</td>
            <td><input type="text" th:field="*{person.firstName}" /></td>
        </tr>
        <tr>
            <td>Last Name</td>
            <td><input type="text" th:field="*{person.lastName}" /></td>
        </tr>
        <tr>
            <td>Address ID</td>
            <td><input type="text" th:field="*{person.address.addressID}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Road Name</td>
            <td><input type="text" th:field="*{person.address.roadName}" /></td>
        </tr>
        <tr>
            <td>House Number</td>
            <td><input type="text" th:field="*{person.address.houseNumber}" /></td>
        </tr>
        <tr>
            <td>Post Code</td>
            <td><input type="text" th:field="*{person.address.postCode}" /></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" th:field="*{person.address.country}" /></td>
        </tr>
        <tr>
            <td>Birth Date</td>
            <td><input type="date" th:field="*{person.birthDate}" /></td>
        </tr>
        <tr>
            <td>Join Date</td>
            <td><input type="date" th:field="*{person.joinDate}" /></td>
        </tr>
        <tr>
            <td>Site Role</td>
            <td>
                <input type="radio" id="sales" th:field="*{person.userType}" value="SALES" />
                <label for="sales">Sales</label>
                <input type="radio" id="admin" th:field="*{person.userType}" value="ADMIN" />
                <label for="admin">Admin</label>
                <input type="radio" id="bookkeeper" th:field="*{person.userType}" value="BOOKKEEPER" />
                <label for="bookkeeper">Bookkeeper</label>
                <input type="radio" id="mechanic" th:field="*{person.userType}" value="MECHANIC" />
                <label for="mechanic">Mechanic</label>
            </td>
        </tr>
        <tr>
            <td>Employee ID</td>
            <td><input type="text" th:field="*{employeeID}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Accountancy ID</td>
            <td><input type="text" th:field="*{accountancyID}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td colspan="2"><button class="button animate border-8px" type="submit"><span>Save</span></button></td>
        </tr>
        <tr>
            <td colspan="2"><a href="/employees/employees"><button class="button animate border-8px"><span>Back</span></button></a></td>
        </tr>
    </table>
</form>
</body>
</html>