<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>New Appointment</title>
</head>

<body>
<!-- Styling fragment -->
<div th:replace="fragments/styling.html :: styling"></div>

<!-- Navbar fragment -->
<div th:replace="fragments/navbar.html :: navigation"></div>

<h1 id="headline">Appointments :: New Appointment</h1>
<div class="container">
    <h3 class="hl">Create New Appointment</h3>
    <div class="padded-blue-area">
<form action="#" th:action="@{/saveappointment}" th:object="${appointment}" method="post">
    <table class="createTables">
        <tr>
            <td>Appointment ID</td>
            <td><input type="text" th:field="*{appointmentID}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Date</td>
            <td><input type="date" th:field="*{date}" th:value="${appointment.getDate()}"/></td>
        </tr>
        <tr>
            <td>Time</td>
            <td><input type="time" th:field="*{time}"/></td>
        </tr>
        <tr>
            <td>Address ID</td>
            <td><input type="text" th:field="*{address.addressID}" readonly="readonly"/></td>
        </tr>
        <tr>
            <td>Road Name</td>
            <td><input type="text" th:field="*{address.roadName}"/></td>
        </tr>
        <tr>
            <td>House Number</td>
            <td><input type="text" th:field="*{address.houseNumber}"/></td>
        </tr>
        <tr>
            <td>Post Code</td>
            <td><input type="text" th:field="*{address.postCode}"/></td>
        </tr>
        <tr>
            <td>Country</td>
            <td><input type="text" th:field="*{address.country}"/></td>
        </tr>
        <tr>
            <td>Motorhome</td>
            <td>
                <select id="motorHomeID" name="motorHomeID">
                    <option th:each="motorhome:${motorhomes}" th:value="${motorhome.getMotorhomeID()}" th:attr="selected=${appointment.getMotorHomeID()==motorhome.getMotorhomeID() ? true : false}" th:text="${motorhome.getModel().getModelName()}"></option>
                </select>
            </td>
        </tr>
        <!-- TODO: Vælge flere id fra/til + kun vælge imellem eksisterende id -->
        <tr>
            <td>Employee IDs</td>
            <td><input type="text" th:name="empIDsString"/></td>
        </tr>
        <tr>
            <td>Notes</td>
            <td><input type="text" th:field="*{notes}"/></td>
        </tr>
        <tr>
            <td>Distance</td>
            <td><input type="number" th:field="*{distance}"/></td>
        </tr>
        <tr>
            <td><button class="button animate border-8px" type="reset"><span>Reset</span></button></td>
        </tr>
        <tr>
            <td><button class="button animate border-8px" type="submit"><span>Save</span></button></td>
        </tr>
    </table>
</form>
    </div>
    <div class="backLine"><a href="javascript:history.back()"><button class="back button animate border-8px"><span>Back</span></button></a></div>
</div>
<div th:replace="fragments/footer.html :: footer"></div>
<script>
    function addEmployee() {
        document.getElementById("demo").innerHTML = "Hello World";
    }
</script>

</body>
</html>